<section class="vh-100" style="background-color: #3f458a;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" style="background-color: #3f458a;">
      <div class="col col-xl-10">
        <div style="background-color: #3f458a;">
          <div class="row g-0">

            <div class=" col-md-6 row col-lg-6 align-items-center justify-content-center">
              <div class="align-items-center">
                <img class="center-block" src="../../assets/logo.png" />
              </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex align-items-center ">
              <div class="card-body ml-2 p-2 p-lg-2 text-black">
                <form (submit)="loginUser()">
                  <h5 class="fw-normal mb-3 pb-3 text-center text-white" style="letter-spacing: 1px;">Bienvenido</h5>
                  <div class="form-outline mb-4">
                    <input type="text" id="user" class="form-control" name="user" [(ngModel)]="login.user" />
                    <label class="form-label text-white" for="form2Example17">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="pass" class="form-control form-control-lg" name="pass"
                      [(ngModel)]="login.pass" />
                    <label class="form-label text-white" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button (click)="(entrar())" class="btn btn-light btn-lg btn-block" type="submit"><i
                        class="fas fa-sign-in-alt"></i>Login</button>
                  </div>
                  <!-- <div class="pt-1 mb-4">
                    <button (click)="(registro())" class="btn btn-light btn-lg btn-block" type="button">Registrarse</button>
                  </div> -->

                  <!-- <a class="small  text-white" href="#!">Forgot password?</a> -->
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

