<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="align-items-center">
      <img style="width: 190px;" src="../../assets/logo.png" />
    </div>

    <div class="container">
      <mat-toolbar class="justify-content-center text-white">Menu</mat-toolbar>
    </div>
    
    <mat-nav-list class="align-items-center">
      <a class="justify-content-center text-white cambioColor example-accordion" *ngFor="let menuItem of menuItems" mat-list-item
        href="{{menuItem.path}}">{{menuItem.title}}</a>
        <cdk-accordion class="example-accordion">
          <cdk-accordion-item
            *ngFor="let menuItem of menuItems; let index = index;"
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + 3"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + 3">
            <!-- <div *ngIf="index == 2" class="example-accordion-item" (click)="accordionItem.toggle()"> -->
              <!-- <button class="btn text-center text-white"> {{ menuItem.title }} </button> -->
              <!-- <button class="btn text-center text-white cambioColor">{{ menuItem.title }}</button> -->
              
             <!--  <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? 'close' : 'open' }}
              </span> -->
           <!--  </div> -->
            <!-- <div
              class="example-accordion-item"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">
              Por fecha de Creacion
              
            </div> -->
          </cdk-accordion-item>
        </cdk-accordion>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(44, 243, 243); width:auto;">
      
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>client</span> -->
      <button (click)="(salir())" type="button" routerLinkActive="activate" class="btn ml-auto text-black"
        style="background-color: white;" data-toggle="modal" data-target="#newIssue">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>